.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 90%;
    position: relative;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 10px;
        
        .title {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .owner {
            color: #6e6e6e;
            display: flex;
            align-items: center;
            text-align: end;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 10px;

        .rate {
            display: flex;
            align-items: center;
        }

        .bookmark {
            cursor: pointer;
        }
    }

    .icon {
        margin-right: 5px;
    }
}