.grid {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.wrapper     {
    margin: 15px 20px 0;
}

// @media only screen and (max-width: 1300px) {
//     .grid {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

@media only screen and (max-width: 960px) {
    .grid {
        grid-template-columns:  1fr;
    }
}