.search {
    width: calc(100vw - 100px);
    padding: 8px;
    margin: 8px 2.5rem;
    height: 50px;
    box-sizing:border-box;
    border-radius: 10px;
    padding-left: 3rem;
    font-size: 1.25rem;
    border: solid 1.5px #D3D3D3;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;

    &:hover{
      box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    }
    &:focus {
      box-shadow: 0 0 5pt 2pt #D3D3D3;
      outline-width: 0px;
    }

}

@mixin input-icon {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.wrapper {
  position:relative;

  .icon {
    @include input-icon;
    left: 3.75rem;
  }
  
  .closeIcon {
    @include input-icon;
    right: 4.5rem;
    cursor: pointer;
  }
}

