@use '../theme/colors' as *;

.link { 
    text-decoration: none; 
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    
    &.active {
        color: $primary_color_light;
    }

    &:hover {
        color: $primary_color_dark;
    }
}
