@use '../theme/colors' as *;

.link { 
    text-decoration: none; 
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    
    &:hover {
        color: $primary_color_light;
    }

    &.active {
        background-color: $primary_color_light;
        color: white;
    }
}

