@use '../theme/colors' as *;

.navbar {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    background-color: $primary_color;

    .title {
        font-size: 18px;
        font-weight: bold;
        height: 3.2rem;
        display: flex;
        align-items: center;
        color: white;
    }

    .links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    li {
        height: 3.2rem;
        padding: 0 .5rem;
        cursor: pointer;
        font-weight: bold;
    }
}

@media only screen and (max-width: 420px) {
    .navbar {
        li {
            padding: unset;
        }
    }
}
