@use '../theme/colors' as *;
@use '../helpers/mixins' as *;

.content {
    @include center-page-content;
    color: gray;

    p {
        font-size: 6rem;
        font-weight: bold;
    }

    .button {
        padding: 10px;
        background: $primary_color;
        color: $secondary_color;
        border: none;
        border-radius: 6px;
        min-width: 6rem;
    }
}